{% extends "layout.html" %}
{% block body %}

<h2>Nedir bu AD BLOG ?</h2>
<hr>
<p>Merhabalar sizlerelere öncelikle kendimden bahsetmem gerekirse ben Ukraynada Uluslararası Ekonomi bölümünden mezun bir girişimciyim. Şu anda Rusya’nın Ukraynayı işgali sonucu İzmirde ikamet ediyorum.</p>

<P>Burası öğrencilerimizin veya mezunlarımızın tamamen kendini geliştirme amacıyla oluşturulan bir ücretli ödev platformudur.Burada hem diğer üyelerle bilgi alışverişi yapabilir hemde kendinizi geliştirebilirsiniz.</P>


{% endblock body %}