{% extends 'layout.html' %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
  <h2>Change Password</h2>
  <form method="POST" action="{{ url_for('change_password') }}">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="old_password">Old Password</label>
      {{ form.old_password(class='form-control') }}
    </div>
    <div class="form-group">
      <label for="new_password">New Password</label>
      {{ form.new_password(class='form-control') }}
    </div>
    <div class="form-group">
      <label for="confirm">Confirm Password</label>
      {{ form.confirm(class='form-control') }}
    </div>
    <button type="submit" class="btn btn-primary">Update Password</button>
  </form>
{% endblock %}
